body {
  margin: 0;
  font-family: GmarketSansMedium,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-family: yg-jalnan, sans-serif;
}

.normal {
  font-family: GmarketSansMedium, sans-serif;
}